%h2 Search Order

= render 'search_form'

%h2 Order List

%table.table
  %thead
    %tr
      %th Number
      %th State
      %th User Email
      %th User Name
      %th Actions
  %tbody
    - @paged_orders.paged_records.each do |order|
      %tr
        %td= order.number
        %td= order.state
        %td= order.user.email
        %td= order.user.name
        %td
          - unless order.state == Order::CANCELED
            = link_to 'Cancel Order', cancel_order_path(order), method: :post

= render partial: 'paginations/pagination', locals: { paginated_records: @paged_orders, redirect_method: method(:orders_path) }
