%h2 Coupon Users

= form_with url: reports_path, method: :get do |form|
  %b Name
  = select_tag :name, options_for_select(@coupon_names, params[:name])
  = form.submit 'Search'

  %table.table
    %thead
      %tr
        %th Name
        %th Amount
        %th Revenue In Orders
        %th Applied emails
    %tbody
      - @coupons.each do |coupon|
        - p orders = coupon.order_items.map(&:order)
        - p orders.map(&:user)
        %tr
          %td= coupon.name
          %td= coupon.amount
          %td= Revenue::OrdersRevenue.new(orders).call
          %td= orders.map(&:user).map(&:email).join(', ')

%h2 Product Sales

= form_with url: reports_path, method: :get do |form|
  %b Start
  = form.datetime_field :completed_at_start, value: params[:completed_at_start]
  %b End
  = form.datetime_field :completed_at_end, value: params[:completed_at_end]
  = form.submit 'Search'

  %table.table
    %thead
      %tr
        %th Produce Id
        %th Product Name
        %th Total Price Amount
        %th Total Sold Quantity
    %tbody
      - @products.each do |id, name, sum_price, total_quanity|
        %tr
          %td= id
          %td= name
          %td= sum_price
          %td= total_quanity
